<h1 class="d-flex align-items-center justify-content-center">Friends</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Name</th>
      <th scope="col">Job</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend|%>
      <tr>
        <% if friend.image.attached?%>
          <td><%= image_tag friend.image, style:"width:50px; height:50px; border-radius:50%;"%></td>
        <% end %>
        <td><%= friend.name%></td>
        <td><%= friend.job%></td>
        <td><%= friend.age%></td>
        <td><%= link_to "Show", friend, class:"btn btn-light" %></td>
        <td><%= link_to "Update", edit_friend_path(friend), class:"btn btn-success" %></td>
        <td><%= link_to "Delete", friend_path(friend), class:"btn btn-danger", data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add", new_friend_path, class:"btn btn-primary" %>